{% extends "layout.html" %}

{% block title %}Список задач{% endblock %}

{% block content %}
    <h2>Список задач</h2>
    <a class="btn btn-success" href="#" role="button">Создать задачу</a>
    <table class="table table-striped align-middle">
        <thead>
        <tr>
            <th scope="col">
                <a href="{{ columns.user.href }}">
                    Имя пользователя
                    {% if columns.user.isSorted %}
                        <i class="bi {% if columns.user.sortDirection %}bi-caret-up-fill{% else %}bi-caret-down-fill{% endif %}"></i>
                    {% endif %}
                </a>
            </th>
            <th scope="col">
                <a href="{{ columns.email.href }}">
                    E-mail
                    {% if columns.email.isSorted %}
                        <i class="bi {% if columns.email.sortDirection %}bi-caret-up-fill{% else %}bi-caret-down-fill{% endif %}"></i>
                    {% endif %}
                </a>
            </th>
            <th scope="col">
                Описание
            </th>
            <th scope="col">
                <a href="{{ columns.done.href }}">
                    Выполнено
                    {% if columns.done.isSorted %}
                        <i class="bi {% if columns.done.sortDirection %}bi-caret-up-fill{% else %}bi-caret-down-fill{% endif %}"></i>
                    {% endif %}
                </a>
            </th>
            {% if isAdmin %}
                <th scope="col">
                    Отредактировано администратором
                </th>
            <th scope="col">
                Действия
            </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.user }}</td>
                    <td>{{ task.email }}</td>
                    <td>{{ task.description }}</td>
                    <td><i class="bi {% if task.done %}bi-check2 text-success{% endif %}"></i></td>
                    {% if isAdmin %}
                        <td><i class="bi {% if task.edited %}bi-check2 text-danger{% endif %}"></i></td>
                        <td>
                            <a class="btn btn-link" href="{{task.updateHref}}" title="Изменить описание"><i class="bi bi-pencil-square text-danger"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {% for item in pager %}
                {% if item.disabled %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ item.label | raw }}</span>
                    </li>
                {% elseif item.active %}
                    <li class="page-item active">
                        <span class="page-link">{{ item.label | raw }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ item.href }}">{{ item.label | raw }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
